* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
}

header {
  text-align: center;
  margin-block-start: 2rem;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 70vh;
}

.game-board table {
  font-size: 0.9rem;
}

.game-board table td {
  padding-inline: 10px;
}

.game-btns {
  display: flex;
  justify-content: center;
  width: 700px;
  gap: 4rem;
}

.game-btn {
  font-size: 1.5rem;
  padding-block: 0.8rem;
  padding-inline: 0.8rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
